.headerbanner {
    font-family: lovelace;
    text-align: center;
    font-size: 50px;
}

.blog {
    display: flex;
    flex-direction: column;
}

.blogheader {
    text-align: center;
}

.blogcontent {
    text-align: justify;
}

.seemore {
    text-align: right;
}