/* Homepage Content CSS */

.headercontent {
    padding: 50px;
}

.headerbanner {
    font-family: lovelace;
    text-align: center;
    font-size: 50px;
}

.trendsimage {
    width: 100%;
}

.trendsinfo {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-self: center;
}

.blog-intro {
    display: flex;
    flex-direction: column;
}

.blogheader {
    text-align: center;
}

.bloginfo {
    text-align: justify;
}

@media screen and (min-width: 780px) {
    .trendsimage {
        width: 50%;
    }
}