/* Header, Navigator, Footer */

@font-face {
    font-family: BlackBones;
    src: url(/Font/BlackBones.ttf);
    font-size: smaller;
}

@font-face {
    font-family: Lovelace;
    src: url(/Font/Lovelace-Script-Medium-trial.ttf);
}

@font-face {
    font-family: Bebas Neue;
    src: url(/Font/BebasNeue-Regular.ttf);
}

header {
    position: relative;
}

header img {
    height: 90vh;
    width: 100%
}

header .quote {
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: Lovelace;
    margin-left: 30%;
    margin-right: 25%;
    text-align: center;
    background-color: beige;
}

header .author {
    position: absolute;
    bottom: 0px;
    margin-left: 37%;
    margin-right: 34%;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
    padding: 10px;
    background-color: rgb(231, 166, 13);
    width: 100%;
    height: 50px;
    justify-content: start;
}

.index,
.trendsblogs {
    font-size: x-large;
    color: black;
    float: left;
    margin-left: 20px;
    padding-left: 5px;
}

.index {
    font-family: BlackBones;
}

.trendsblogs {
    font-family: LoveLace;
    border-left: 2px solid black;
}

.aboutus {
    display: block;
    font-family: LoveLace;
    font-size: x-large;
    color: black;
    float: right;
}

.aboutusfoot {
    text-align: justify;
}

footer {
    background-color: rgb(231, 166, 13);
    padding: 10px;
    height: 25%;
}

.mail {
    color: black;
    text-decoration: none;
}

.logofooter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoname {
    position: absolute;
    bottom: 30px;
    font-family: lovelace;
}

.socialmedia {
    text-align: center;
}

.sociallogo {
    color: black;
    font-size: 25px;
    padding-left: 10px
}

hr {
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (min-width: 780px) {
    header .quote {
        margin-left: 25%;
        margin-right: 25%;
    }
    header .author {
        margin-left: 43%;
        margin-right: 40%;
    }
}